# =========================
# BACKEND (Spring Boot)
# =========================
target/
build/
out/
*.class
*.jar
*.war
*.log

# IntelliJ IDEA
.idea/
*.iml

# STS
.settings/
.project
.classpath

# Maven Wrapper junk
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# OS
.DS_Store
Thumbs.db


# =========================
# FRONTEND (React)
# =========================
node_modules/
dist/
build/
*.env
.cache/
npm-debug.log
yarn-debug.log
yarn-error.log


# =========================
# VSCODE / EDITOR
# =========================
.vscode/
*.swp


# =========================
# ENV FILES (VERY IMPORTANT)
# =========================
.env
.env.local
.env.*.local
